<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pacifico&family=Sedgwick+Ave&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="../style/style.css">
</head>
<body>
  <div class="placar">
    <h2 class="congratulation">Parabéns!</h2>
    <h4 class="placar-prhase">Você acertou:</h4>
    <div class="country-numbers-div">
      <span class="country-numbers" id="porcentagemAcertos">25</span>
      <p class="country">países</p>
    </div>
    <a href="#" class="placar-button">Sair</a>
  </div>
</body>
</html>
