:root {
  --bg-color: #73a2df;
  --white: #fdfdfd;
  --red: #e63535;
  --bg-sec-color: #7daeee;
  --font: 'Alumni Sans', sans-serif;
}

body{
  text-align: center;
  font-size: 16px;
  font-family: var(--font);
  background-color: var(--bg-color);
  padding: 0;
  margin: .5em;
}

.header{
  display: grid;
  grid-template-columns: repeat(3, 33.3%);
  text-align: center;
}

.back{
  display: flex;
  color: var(--white);
  font-size: 1.5em;
  text-decoration: none;
}

.title{
  border-radius: 2em;
  color: var(--red);
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
  margin: 0;
}

.question{
  font-size: 2em;
  font-family: var(--font);
  font-weight: bold;
  color: var(--white);
  margin: .5em 0;
}

.game-area{
  width: 70%;
  margin: 0 auto;
  background-color: var(--bg-sec-color);
  border-radius: 2em;
  padding: 1em;
}

img{
  width: 100%;
  border-radius: 1.5em;
  border: 2px solid #000000;
}

.answers{
  display: grid;
  grid-template-rows: repeat(4, 25%);
}

.alternative{
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  margin-top: .5em;
  text-decoration: none;
  background-color: var(--bg-color);
  border: 2px solid var(--white);
}

.letter{
  font-size: 1.5em;
  margin-right: .3em;
  font-weight: bolder;
  color: var(--red);
}

.question-answer{
  font-family: var(--font);
}

.scoreboard{
  display: flex;
  margin: 3em 3em 0 3em;
  justify-content: space-between;
}

.counter{
  width: 35%;
  background-color: rgba(0, 0, 0, .5);
  padding: .5em;
  border-radius: 1em;
}

.number{
  display: inline-block;
  padding: .3em .5em;
  background-color: rgb(216, 108, 20);
  border-radius: 8em;
  margin: 0;
}

.type {
  margin: .5em 0;
}

.number, .type{
  color: var(--white);
  font-size: 1em;
  font-weight: 700;
}

/* minhas clases de teste ASS: MATEUS */

.correct{
  background-color: green !important;
}
.error{
  background-color: red !important;
}

/* #porcentagemAcertos{
  background-color: var(--bg-sec-color);
  padding: 5px;
  border-radius: 3px;
  font-weight: bold;
  color: var(--red);
  font-size: 10vw;
} */

/* animacao */

.progress{
  background: rgba(52, 52, 52, 0.452);
  justify-content: flex-start;
  border-radius: 100px;
  align-items: center;
  position: relative;
  padding: 0 5px;
  display: flex;
  height: 20px;
  width: 100%;

}

.progress-value{
  
  box-shadow: 0 10px 40px -10px #fff;
  border-radius: 100px;
  background-color: #fff;
  background-image: linear-gradient(315deg, #fff 0%, #7ee8fa 74%);
  height: 12px;
  width: 10%;
  transition: all 1s;
}

/* Banner do Placar */

.placar{
  padding: 1.5em;
  text-align: center;
  background-color: var(--bg-sec-color);
  border: 2px dashed #000000;
  border-radius: 1em;
}

.congratulations{
  font-size: 2em;
  color: var(--red);
  font-family: 'Sedgwick Ave', cursive;
  font-weight: bold;
}

.placar-prhase{
  font-family: var(--font);
  font-size: 1.5em;
  color: var(--white);
}

.country-numbers-div{
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  margin: 2em 0;
}

.country-numbers, .country{
  font-size: 1.5em;
  font-weight: bold;
  padding: .5em;
  margin: 0;
  color: #035811;
}

.placar-button {
  font-size: 1.5em;
  background-color: #2066c2;
  text-decoration: none;
  color: var(--white);
  padding: .5em .8em;
  border: 2px solid #154585;
  border-radius: .5em;
}